<h1>{{title}}</h1>
<p>Por favor llena los cammpos de abajo para registrarte</p>
<hr>
<label for="user"><b>Usuario</b></label>
<input type="text" [(ngModel)]="UserComponent.user" placeholder="Usuario" name="user" id="user" required>

<label for="email"><b>Email</b></label>
<input type="text" [(ngModel)]="UserComponent.email" placeholder="Email" name="email" id="email" required>

<label for="psw"><b>Password</b></label>
<input type="password" [(ngModel)]="UserComponent.password" placeholder="Enter Password" name="psw" id="psw" required>

<label for="psw-repeat"><b>Repetir Password</b></label>
<input type="password" [(ngModel)]="UserComponent.confirmpwd" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
<hr>
<input type="button" (click)="AddUser()" value= "registrar" class= "registerbtn" >
{{message}}